body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 10px;
}

.product img {
  width: 100%;
  border-radius: 8px;
}
