body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.producto {
  background: #1c1c1c;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #000;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0 5px;
}

.producto p {
  font-size: 14px;
  opacity: 0.8;
}
