body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.img-box {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}

.product-img {
  width: 120px;
  border-radius: 8px;
}
